In [1]:
# importing the libraries
#from bs4 import BeautifulSoup
import requests
import csv
import pandas as pd

In [2]:
#Sending a HTTP request to a URL
url = "https://ceoharyana.gov.in/WebCMS/Start/1440"
# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).content

In [3]:
df_list = pd.read_html(html_content)
df = df_list[-1]
print(df)
df.to_csv('assembly.csv')

    Division     District No. & Name of Assembly Constituency  \
0   1 AMBALA  1-PANCHKULA                             1-KALKA
1        NaN          NaN                         2-PANCHKULA
2        NaN     2-AMBALA                        3-NARAINGARH
3        NaN          NaN                     4-AMBALA CANTT.
4        NaN          NaN                       5-AMBALA CITY
..       ...          ...                                 ...
85       NaN          NaN                    86-FARIDABAD NIT
86       NaN          NaN                          87-BADKHAL
87       NaN          NaN                      88-BALLABHGARH
88       NaN          NaN                        89-FARIDABAD
89       NaN          NaN                           90-TIGAON

                       Map
0   Click here to view map
1   Click here to view map
2   Click here to view map
3   Click here to view map
4   Click here to view map
..                     ...
85  Click here to view map
86  Click here to view map
87  Click here to view map
88  Click here to view map
89  Click here to view map

[90 rows x 4 columns]

In [4]:
f=pd.read_csv("assembly.csv", skiprows=[i for i in range(1,79)])
keep_col = ['Division','District','No. & Name of Assembly Constituency']
assembly_constituencies = f[keep_col]
print(assembly_constituencies)

       Division     District No. & Name of Assembly Constituency
0   6 FARIDABAD      1-MEWAT                              79-NUH
1           NaN          NaN                 80-FEROZEPUR JHIRKA
2           NaN          NaN                         81-PUNAHANA
3           NaN     2-PALWAL                           82-HATHIN
4           NaN          NaN                        83-HODAL(SC)
5           NaN          NaN                           84-PALWAL
6           NaN  3-FARIDABAD                          85-PRITHLA
7           NaN          NaN                    86-FARIDABAD NIT
8           NaN          NaN                          87-BADKHAL
9           NaN          NaN                      88-BALLABHGARH
10          NaN          NaN                        89-FARIDABAD
11          NaN          NaN                           90-TIGAON

In [5]:
#new_f.to_csv("assembly_constituencies.csv", index=False)

In [6]:
assembly_constituencies["Division"].fillna("FARIDABAD", inplace = True)
assembly_constituencies

c:\users\kohli\appdata\local\programs\python\python36\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

       Division     District No. & Name of Assembly Constituency
0   6 FARIDABAD      1-MEWAT                              79-NUH
1     FARIDABAD          NaN                 80-FEROZEPUR JHIRKA
2     FARIDABAD          NaN                         81-PUNAHANA
3     FARIDABAD     2-PALWAL                           82-HATHIN
4     FARIDABAD          NaN                        83-HODAL(SC)
5     FARIDABAD          NaN                           84-PALWAL
6     FARIDABAD  3-FARIDABAD                          85-PRITHLA
7     FARIDABAD          NaN                    86-FARIDABAD NIT
8     FARIDABAD          NaN                          87-BADKHAL
9     FARIDABAD          NaN                      88-BALLABHGARH
10    FARIDABAD          NaN                        89-FARIDABAD
11    FARIDABAD          NaN                           90-TIGAON

In [7]:
ac= assembly_constituencies.replace({'Division': {'6 FARIDABAD': 'FARIDABAD'},'District': {'3-FARIDABAD': 'FARIDABAD','1-MEWAT':'MEWAT','2-PALWAL':'PALWAL'}})
ac

     Division   District No. & Name of Assembly Constituency
0   FARIDABAD      MEWAT                              79-NUH
1   FARIDABAD        NaN                 80-FEROZEPUR JHIRKA
2   FARIDABAD        NaN                         81-PUNAHANA
3   FARIDABAD     PALWAL                           82-HATHIN
4   FARIDABAD        NaN                        83-HODAL(SC)
5   FARIDABAD        NaN                           84-PALWAL
6   FARIDABAD  FARIDABAD                          85-PRITHLA
7   FARIDABAD        NaN                    86-FARIDABAD NIT
8   FARIDABAD        NaN                          87-BADKHAL
9   FARIDABAD        NaN                      88-BALLABHGARH
10  FARIDABAD        NaN                        89-FARIDABAD
11  FARIDABAD        NaN                           90-TIGAON

In [8]:
ac.loc[[1,2], 'District'] = 'MEWAT'
ac.loc[[4,5], 'District'] = 'PALWAL'
ac.loc[[7,8,9,10,11], 'District'] = 'FARIDABAD'
ac

     Division   District No. & Name of Assembly Constituency
0   FARIDABAD      MEWAT                              79-NUH
1   FARIDABAD      MEWAT                 80-FEROZEPUR JHIRKA
2   FARIDABAD      MEWAT                         81-PUNAHANA
3   FARIDABAD     PALWAL                           82-HATHIN
4   FARIDABAD     PALWAL                        83-HODAL(SC)
5   FARIDABAD     PALWAL                           84-PALWAL
6   FARIDABAD  FARIDABAD                          85-PRITHLA
7   FARIDABAD  FARIDABAD                    86-FARIDABAD NIT
8   FARIDABAD  FARIDABAD                          87-BADKHAL
9   FARIDABAD  FARIDABAD                      88-BALLABHGARH
10  FARIDABAD  FARIDABAD                        89-FARIDABAD
11  FARIDABAD  FARIDABAD                           90-TIGAON

In [9]:
ac['No. & Name of Assembly Constituency'] = ac['No. & Name of Assembly Constituency'].str[3:]
ac

     Division   District No. & Name of Assembly Constituency
0   FARIDABAD      MEWAT                                 NUH
1   FARIDABAD      MEWAT                    FEROZEPUR JHIRKA
2   FARIDABAD      MEWAT                            PUNAHANA
3   FARIDABAD     PALWAL                              HATHIN
4   FARIDABAD     PALWAL                           HODAL(SC)
5   FARIDABAD     PALWAL                              PALWAL
6   FARIDABAD  FARIDABAD                             PRITHLA
7   FARIDABAD  FARIDABAD                       FARIDABAD NIT
8   FARIDABAD  FARIDABAD                             BADKHAL
9   FARIDABAD  FARIDABAD                         BALLABHGARH
10  FARIDABAD  FARIDABAD                           FARIDABAD
11  FARIDABAD  FARIDABAD                              TIGAON

In [14]:
ac["location"] = ac["No. & Name of Assembly Constituency"] +", " + ac["District"] +", " + ac["Division"]
ac

,Division,District,No. & Name of Assembly Constituency,location
0,FARIDABAD,MEWAT,NUH,"NUH,MEWAT,FARIDABAD"
1,FARIDABAD,MEWAT,FEROZEPUR JHIRKA,"FEROZEPUR JHIRKA,MEWAT,FARIDABAD"
2,FARIDABAD,MEWAT,PUNAHANA,"PUNAHANA,MEWAT,FARIDABAD"
3,FARIDABAD,PALWAL,HATHIN,"HATHIN,PALWAL,FARIDABAD"
4,FARIDABAD,PALWAL,HODAL(SC),"HODAL(SC),PALWAL,FARIDABAD"
5,FARIDABAD,PALWAL,PALWAL,"PALWAL,PALWAL,FARIDABAD"
6,FARIDABAD,FARIDABAD,PRITHLA,"PRITHLA,FARIDABAD,FARIDABAD"
7,FARIDABAD,FARIDABAD,FARIDABAD NIT,"FARIDABAD NIT,FARIDABAD,FARIDABAD"
8,FARIDABAD,FARIDABAD,BADKHAL,"BADKHAL,FARIDABAD,FARIDABAD"
9,FARIDABAD,FARIDABAD,BALLABHGARH,"BALLABHGARH,FARIDABAD,FARIDABAD"
10,FARIDABAD,FARIDABAD,FARIDABAD,"FARIDABAD,FARIDABAD,FARIDABAD"
11,FARIDABAD,FARIDABAD,TIGAON,"TIGAON,FARIDABAD,FARIDABAD"